<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "com.phonegap.colores"
		versionCode = "1" 
		version     = "1.0.0" >

	<!-- versionCode is optional and Android only -->

	<name>Encuesta Test</name>

	<description>
		Encuesta TEst
	</description>

	<author href="http://aynitech.com" email="dperales@aynitech.com">
		Daniel Perales
	</author>

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<gap:plugin name="com.brodysoft.sqliteplugin" version="1.0.0" />
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.2" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6"  />
	<!--gap:plugin name="com.chanthu.evri.gcs-file-transfer" version="1.0.0" /-->

	<gap:splash src="splash.png" />
	<icon src="icon.png" />



	<access origin="http://adostelecom.com" />

</widget>
